<div class="d-flex flex-column flex-shrink-0  bg-ECF6FE" style="width: 280px; height:83vh; ">
    <a href="#" class="text-center pt-2">
        <img src="https://github.com/mdo.png" alt="" width="124" height="124" class="rounded-circle ">

    </a>
    <hr>
    <ul class="nav  flex-column mb-auto">
        <li class="nav-item">
            <a href="#" class="nav-link link-dark active  " aria-current="page">
                     Recomendaciones
                </a>
        </li>
        <li>
            <a href="#" class="nav-link link-dark">
                    ¿Que hacer si tengo covid?
                </a>
        </li>
        <li>
            <a href="#" class="nav-link link-dark">
                    ¿Cuanto cuesta la consultas?
                </a>
        </li>
        <li>
            <a href="#" class="nav-link link-dark">
                    ¿Que necesiti oara hacer la consulta?
                </a>
        </li>
        <li>
            <a href="#" class="nav-link link-dark">
                  ¿Que laboratiros puedo consultar? 
                </a>
        </li>
    </ul>


</div>