<header class="bg-0A67AE" style="height: 70px;">
    <div class="">
        <nav class="navbar navbar-expand-lg navbar-dark bg-0A67AE  justify-content-between justify-content-">
            <!-- Brand -->
            <a href="" class="navbar-brand ps-5">
                <img src="./src/ING5.jpg" alt="Logo Covid" loading="lazy" class="navbar-brand__img">
            </a>

            <!-- Button Collapse -->
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#contenido-nav" aria-controls="contenido-nav" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"> </span>
        </button>

            <!-- Contenido -->
            <div class="collapse navbar-collapse  flex-grow-0" id="contenido-nav">

                <ul class="navbar-nav ms-auto ">

                    <li class="nav-item">
                        <a href="" class="nav-link active">Perfil </a>

                    </li>

                    <li class="nav-item">
                        <a href="" class="nav-link enable">Consulta </a>

                    </li>

                    <li class="nav-item">
                        <a href="" class="nav-link">Historial </a>

                    </li>
                </ul>



            </div>

            <form action="#" class="d-flex me-3">
                <a href="" class="text-white">Salir</a>

            </form>

        </nav>
    </div>


</header>