<div class="conteF">

    <div class="cardC">
        <div class="cardF">
            <div class="logoT">
                <h1>LOGIN</h1>
            </div>

            <div class="inputC">
                <p>Correo</p>
                <input class="inputFormat" type="text " value="Type here ">

                <p>Contraseña</p>
                <input class="inputFormat" type="text " value="Type here ">
            </div>

            <div class="botonF">

                <button class="botonS">Iniciar</button>
                <button class="botonS">Registrarte</button>
            </div>

            <div class="txtR">
                <a>Olvidaste tu contraseña</a>
            </div>

        </div>

    </div>

</div>